* {
	margin: 0;
	padding: 0;
}
.fix {
	overflow: hidden;
}
.error {
	color: red;
	font-weight: bold;
	margin-left: 570px;
}
body {
	background: #272822;
}
.container {
	width: 40%;
	margin: 10px auto;
	padding: 10px;
	background: #fff;
	border-radius: 10px;
}
.welcome {
	float: left;
	color: #076299;
}
.user {
	color:#DD5347;
	font-weight: bold;
}
.logout {
	float: right;
}
.logout a {
	text-decoration: none;
	color: #F68A1D;
}
#chatbox {
	height: 500px;
	overflow: scroll;
	border-top: 1px solid #ddd;
	margin-top: 5px;
	padding: 10px;
}
.chat_box {
	width: 97%;
	height: 500px;
	padding: 5px;
}
.chat_history {
	width: 100%;
	font-size: 17px;
}
.chat_input form {
	width: 100%;
}
.name {
	color: green;
	font-weight: bold;
}
.message {
	color: gray;
}
.time {
	color: red;
	float: right;
}

textarea {
	width: 95%;
	height: 34px;
	padding: 6px 12px;
	background: #fff;
	color: #000;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 14px;		
}
input[type="submit"] {
	width: 20%;
	height: 34px;
	padding: 6px 12px;
	border: 1px solid #fff;
	border-radius: 4px;
	background: #5cb85c;
	border-color: #4cae4c;
	color: #fff;
	cursor: pointer;
	margin-left: 155px;
}
input[type="submit"]:last-child {
	margin-left: 0;
}
input[type="submit"]:hover {
	background: #449D44;
}


/*Login Box Style*/
.loginBox {
	width: 75%;
	height: 200px;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}

.loginBox input[type="text"] {
	width: 96%;
	height: 34px;
	padding: 6px 12px;
	background: #fff;
	color: #000;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;		
}
.loginBox input[type="submit"] {
	width: 100%;
	height: 40px;
	padding: 6px 12px;
	border: 1px solid #fff;
	border-radius: 4px;
	background: #5cb85c;
	border-color: #4cae4c;
	color: #fff;
	cursor: pointer;
	margin-top: 10px;

}

